.card {
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 40vw;
    margin: auto;
    min-width: 50vw;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 2px solid #D9D9D9;
}

.title {
    font-size: 1.0rem;
    font-weight: bold;
    color: #333;
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    padding: 7px;
    margin-left: 9px;
}

.star {
    margin-right: 9px;
    cursor: pointer;
    color: #aaa;
    transition: color 0.3s;
}

.filledStar {
    color: gold;
}

.input {
    border: none;
    width: 100%;
    min-height: 50px;
    resize: none;
    font-size: 14px;
    color: #333;
    outline: none;
    padding: 5px 19px;
    border-radius: 5px;
}

.title::placeholder{
    color: #000000;
}

@media (max-width: 768px) {
    .card {
        max-width: 80vw; 
        min-width: 70vw;  
        border-radius: 23px;
    }

    .input{
        border-radius: 23px;
    }
}