.container {
    display: flex;
    flex-direction: column;
    width: 80.5vw;
    margin: 0 auto;
    padding: 10px;
    justify-content: center; 
    position: relative;
}

.title{
    font-size: 0.8rem;
    color: #464646;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 7px;
    margin-left: 9px;
    margin-top: 1vh;
    font-weight: 400;
}

.notes {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw 4vh;
    width: 100%;
}

@media (max-width: 768px) {
    .notes{
        justify-content: center;
    }
}